<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>

<body style="margin: 0; padding: 0;">
    <header style="height: 60px;">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('arch') }}">Архив</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-3">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('news') }}">Главная<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('lk') }}">Приемы пищи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('lk') }}">Физическая активность</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <form id='add' method="POST" action="/add_activity">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label id='timer1' class="input-group-text" for="timer" style='width: 73.6px;'>Время</label>
                </div>
                <input type="time" name="timer" value="" id="timer">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Занятие</label>
                </div>
                <select class="custom-select-sm-6" id="inputGroupSelect01" name='type1'>
                    <option selected value="1">Ходьба</option>
                    <option value="2">Зарядка</option>
                    <option value="3">Спорт</option>
                    <option value="4">Уборка</option>
                    <option value="5">Работа в саду</option>
                    <option value="6">Сон</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="min" id='measure1'>Кол-во мин.</label>
                </div>
                <input type="number" name="min" value="" id="min" style="width: 6.15rem;">
            </div>
            <button form="add" type="submit" class="btn btn-outline-primary">Сохранить</button>
            <button form="remove" type="submit" class="btn btn-outline-primary ml-3">Удалить</button>
        </form>
        <div class="table-responsive mt-3">
            <form id='remove' method="POST" action="/remove">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope='col' style='white-space:nowrap;'>Дата</th>
                            <th scope='col' style='white-space:nowrap;'>Начало</th>
                            <th abbr="Длит." scope='col' style='white-space:nowrap;'>Время</th>
                            <th scope='col' style='white-space:nowrap;'>Нагрузка</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in Act %}
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td style='white-space:nowrap;'><input id="{{row[3]}}" name="selected" class="checkbox"
                                    style="margin-right: 0.5rem;" type="checkbox"
                                    value="{{row[0]}}/{{row[1]}}/{{row[2]}}/{{row[3]}}">{{row[3]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script type="text/javascript">
        select = document.getElementsByClassName('custom-select-sm-6')[0]
        select.onchange = function () {
            if (select.value == 6) {
                $('#measure1').text('Кол-во час.')
            } else { $('#measure1').text('Кол-во мин.') }
        }
    </script>

</body>

</html>