<!DOCTYPE html>
<html lang='ru'>

<head>
        <title>Главная страница</title>
        <meta charset="UTF-8"/>
        <meta meta name='viewport' content='width=device-width, user-scalable=no'/>
        <link rel="stylesheet" href="static/style.css">
</head>

<body style='overflow: scroll;'>
        <header>
                <nav id='topmenu'>
                        <a class='intop' href="{{ url_for('login') }}">войти</a>
                        <a class='intop' href="{{ url_for('logout') }}">выйти</a>
                        <a class='intop' href="{{ url_for('signup') }}">регистрация</a>
                        <a class='intop' href="{{ url_for('news') }}">главная</a>
                        <a class='intop' href="{{ url_for('lk') }}">личный кабинет</a>
                </nav>
                <form method='post' action='/search'>
                        <input type='text' id='input_query' name='input_query' spellcheck lang='ru' placeholder="Поиск">
                        <button class='btn' id='btn_query'>Искать</button>
                </form>
        </header>
        <div id='main_box'>
                <div id='leftbox'>
                        <nav>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Алкогольные напитки') }}">Алкогольные
                                                напитки</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из картофеля, овощей и грибов') }}">Блюда
                                                из картофеля, овощей и грибов</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из круп') }}">Блюда
                                                из круп</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из макаронных изделий') }}">Блюда
                                                из
                                                макаронных изделий</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из мяса и мясных продуктов') }}">Блюда
                                                из
                                                мяса и мясных продуктов</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из рыбы, морепродуктов и раков') }}">Блюда
                                                из рыбы, морепродуктов и раков</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из творога') }}">Блюда
                                                из творога </a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из яиц') }}">Блюда
                                                из яиц </a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Бобоые, орехи') }}">Бобовые,
                                                орехи
                                        </a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Быстрое питание') }}">Быстрое
                                                питание</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Вспомогательные продукты') }}">Вспомогательные
                                                продукты
                                        </a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Гарниры') }}">Гарниры</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Готовые завтраки') }}">Готовые
                                                завтраки</a> </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Грибы') }}">Грибы</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Диабетические продукты') }}">Диабетические
                                                продукты</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Жиры, масла') }}">Жиры,
                                                масла</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Зерно, мука') }}">Зерно,
                                                мука</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Икра, морские продукты') }}">Икра,
                                                морские продукты</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Колбасы') }}">Колбасы</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Кондитерские изделия') }}">Кондитерские
                                                изделия</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Конфеты, шоколад') }}">Конфеты,
                                                шоколад</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Молочные продукты') }}">Молочные
                                                продукты</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Мучные изделия') }}">Мучные
                                                изделия</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Мясо и мясные продукты') }}">Мясо
                                                и мясные продукты</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Напитки') }}">Напитки</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Овощи') }}">Овощи</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Рыба и рыбные продукты') }}">Рыба
                                                и рыбные продукты</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Сладкие блюда') }}">Сладкие
                                                блюда</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Соусы') }}">Соусы</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Супы') }}">Супы</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Сыры') }}">Сыры</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Фрукты') }}">Фрукты</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Хлеб, выпечка') }}">Хлеб,
                                                выпечтка</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Холодные блюда (готовые изделия)') }}">Холодные
                                                блюда (готовые изделия)</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Ягоды, варенье') }}">Ягоды
                                                варенье</a></div>
                        </nav>
                </div>
                <div id="midlebox">
                        <!-- Slideshow container -->
                        <div class="slideshow-container">

                                <!-- Full-width images with number and caption text -->
                                <div class="mySlides fade">
                                        <img src="/static/images/img8.jpg" style="width:100%">
                                        <div class="text"></div>
                                </div>

                                <div class="mySlides fade">
                                        <img src="/static/images/img9.jpg" style="width:100%">
                                        <div class="text"></div>
                                </div>

                                <div class="mySlides fade">
                                        <img src="/static/images/img10.jpg" style="width:100%">
                                        <div class="text"></div>
                                </div>

                                <!-- Next and previous buttons -->
                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                        <br>
                        <!-- The dots/circles -->
                        <div style="text-align:center">
                                <span class="dot" onclick="currentSlide(1)"></span>
                                <span class="dot" onclick="currentSlide(2)"></span>
                                <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
                        <div>
                                <h2>Новости</h2>
                                <p class='news'>В настоящее время сайт находится в разработке, среди последних
                                        изменений:</p>
                                <li class='news'>Добавлен раздел "Блюда"</li>
                                <li class='news'>Добавлен раздел "Продукты"</li>
                                <li class='news'>Добавлен раздел "Конкретные блюда"</li>
                                <li class='news'>Добавлен раздел "Конкретные продукты"</li>
                        </div>
                </div>
                <div id="rightbox">
                        <div class="white_block" id="profile"><img id='user_img' src='static/images/user.svg'></div>
                        <div class='white_block' id='name'>
                                <p style='color: black;'>Имя пользователя : {{ name }}</p>
                        </div>
                </div>
        </div>
        <script src='static/javascript/slider.js'></script>
        <script src='static/javascript/anime.js'></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
</body>

</html>