<!DOCTYPE html>
<html lang='ru'>

<head>
        <title>Главная страница</title>
        <base href="http://127.0.0.1:5000/">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/style.css">
</head>

<body>
        <header>
                <nav id='topmenu'>
                        <a class='intop' href="{{ url_for('login') }}">войти</a>
                        <a class='intop' href="{{ url_for('logout') }}">выйти</a>
                        <a class='intop' href="{{ url_for('signup') }}">регистрация</a>
                        <a class='intop' href="{{ url_for('news') }}">главная</a>
                        <a class='intop' href="{{ url_for('lk') }}">личный кабинет</a>
                </nav>
                <form method='POST' action='/search'>
                        <input type='text' id='input_query' name='input_query' spellcheck lang='ru' placeholder="Поиск">
                        <button class='btn' id='btn_query'>Искать</button>
                </form>
        </header>
        <div id='main_box'>
                <div id='leftbox'>
                        <nav>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Алкогольные напитки') }}">Алкогольные напитки</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из картофеля, овощей и грибов') }}">Блюда
                                                из картофеля, овощей и грибов</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из круп') }}">Блюда
                                                из круп</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из макаронных изделий') }}">Блюда
                                                из
                                                макаронных изделий</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из мяса и мясных продуктов') }}">Блюда
                                                из
                                                мяса и мясных продуктов</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из рыбы, морепродуктов и раков') }}">Блюда
                                                из рыбы, морепродуктов и раков</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из творога') }}">Блюда
                                                из творога </a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Блюда из яиц') }}">Блюда
                                                из яиц </a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Бобоые, орехи') }}">Бобовые, орехи
                                        </a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Быстрое питание') }}">Быстрое питание</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Вспомогательные продукты') }}">Вспомогательные продукты
                                        </a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Гарниры') }}">Гарниры</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Готовые завтраки') }}">Готовые завтраки</a> </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Грибы') }}">Грибы</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Диабетические продукты') }}">Диабетические продукты</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Жиры, масла') }}">Жиры, масла</a>
                                </div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Зерно, мука') }}">Зерно, мука</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Икра, морские продукты') }}">Икра, морские продукты</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Колбасы') }}">Колбасы</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Кондитерские изделия') }}">Кондитерские изделия</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Конфеты, шоколад') }}">Конфеты, шоколад</a></div>                                                
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Молочные продукты') }}">Молочные продукты</a></div>                                                
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Мучные изделия') }}">Мучные изделия</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Мясо и мясные продукты') }}">Мясо и мясные продукты</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Напитки') }}">Напитки</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Овощи') }}">Овощи</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Рыба и рыбные продукты') }}">Рыба и рыбные продукты</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Сладкие блюда') }}">Сладкие блюда</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Соусы') }}">Соусы</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Супы') }}">Супы</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Сыры') }}">Сыры</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Фрукты') }}">Фрукты</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Хлеб, выпечка') }}">Хлеб, выпечтка</a></div>                                               
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Холодные блюда (готовые изделия)') }}">Холодные блюда (готовые изделия)</a></div>
                                <div class='blue_flag'><a class='sidemenu'
                                                href="{{ url_for('searchlink', search_string = 'Ягоды, варенье') }}">Ягоды варенье</a></div>               
                        </nav>
                </div>
                <div id="midlebox">
                        <form method='POST' action='/favourites'>
                                {% for row in result %}
                                <div class="form-check">
                                        <input type="checkbox" class="check" name="row" id="{{row[1]}}"
                                                value="{{row[0]}}">
                                        <label class="form-check-label" for="{{row[1]}}">{{ row[0] }}</label>
                                </div>
                                {% endfor %}
                                <div class="button_add">
                                        <button type="submit" class="btn" id='btn_add' name='btn_add'>Добавить в
                                                избранное</button>
                                </div>
                                <div class="param">
                                        <div style="display: flex; flex-direction: row;">
                                                <p style="margin-right: 10px;">Введите дату</p><span></span><input
                                                        type="date" name='calendar' value="" id="calendar">
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                                <p style="margin-right: 10px;">Укажите прием пищи</p><span></span>
                                                <select name='food_type' id="selector">
                                                        <option>Авто</option>
                                                        <option>Завтрак</option>
                                                        <option>Обед</option>
                                                        <option>Ужин</option>
                                                        <option>Перекус</option>
                                                </select>
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                                <p style="margin-right: 10px;">Установите время</p><input type="time"
                                                        name="timer" value="" id="timer">
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                                <p style="margin-right: 10px;">Вес (в граммах) </p><input type="number"
                                                        name="libra" value="" id="libra">
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                                <p style="margin-right: 10px;">Сахар до приема пищи</p><input
                                                        type="text" name="index_b" value="" id="index_b">
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                                <p style="margin-right: 10px;">После приема пищи</p><input type="text"
                                                        name="index_a" value="" id="index_a">
                                        </div>
                                </div>
                        </form>
                </div>
                <div id="rightbox">
                        <script type="text/javascript">
                                setInterval(function () {
                                        date = new Date(),
                                                h = date.getHours(),
                                                m = date.getMinutes(),
                                                s = date.getSeconds(),
                                                h = (h < 10) ? '0' + h : h,
                                                m = (m < 10) ? '0' + m : m,
                                                s = (s < 10) ? '0' + s : s,
                                                document.getElementById('time').innerHTML = h + ':' + m + ':' + s;
                                }, 1000);
                        </script>
                        <div class="white_block" id="profile"><img id='user_img' src='static/images/user3.svg'></div>
                        <div class='white_block' id='name'>
                                <p style='color: black;'>Имя пользователя : {{ name }}</p>
                        </div>
                        <span style="color:#7e5a25; font-size:14pt; border:2px solid #e1d4ae; background:#e8e3d4; padding:5px; margin-left: 15px; border-radius: 5px;">
                                <span id="time">00:00:00</span>
                        </span>
                </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>

</html>