<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <style type='text/css'>
        @media only screen and (max-width: 991px) {
          #pole {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-items: center !important;
          }
          body {
            min-width: 405px;
          }
          #bluda {
              margin-top: 2rem;
          }
        }
      </style>
</head>

<body>
    <header style="height: 60px;">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выбрать категорию
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                            href="{{ url_for('searchlink', search_string = 'Алкогольные напитки') }}">Алкогольные
                            напитки</a>
                        <a class="dropdown-item" href="{{ url_for('searchlink', search_string = 'Блюда из картофеля, овощей и грибов') }}">Блюда из картофеля, овощей и грибов</a>
                        <a class="dropdown-item" href="{{ url_for('searchlink', search_string = 'Блюда из круп') }}">Блюда из круп</a>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-3">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('arch') }}">Архив<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('lk') }}">Приемы пищи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('activity') }}">Физическая активность</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <form method='POST' action='/favourites'>
        <div class="container mt-5 mb-5" id='pole' style='display: flex; flex-direction: row;'>
            <div class="container" style="max-width: 320px;">
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="calendar">Введите дату</label>
                    </div>
                    <input class="form-control" type="date" name="calendar" id="calendar">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label id='timer1' class="input-group-text" for="timer" style='width: 73.6px;'>Время</label>
                    </div>
                    <input class="form-control" type="time" name="timer" value="" id="timer">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Укажите прием пищи</label>
                    </div>
                    <select class="custom-select" name='food_type' id="selector">
                        <option>Авто</option>
                        <option>Завтрак</option>
                        <option>Обед</option>
                        <option>Ужин</option>
                        <option>Перекус</option>
                    </select>
                </div>
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Вес (в граммах)</label>
                    </div>
                    <input class="form-control" type="number" name="libra" value="" id="libra">
                </div>
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Сахар до приема пищи</label>
                    </div>
                    <input class="form-control" type="text" name="index_b" value="" id="index_b">
                </div>
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">После приема пищи</label>
                    </div>
                    <input class="form-control" type="text" name="index_a" value="" id="index_a">
                </div>
                <button type="submit" class="btn btn-outline-primary mt-3" id='btn_add' name='btn_add'>Добавить в
                    избранное</button>
            </div>
            <div class='container mt-3' id='bluda'
                style="background-color: #e9ecef; border-radius: 0.5rem; max-width: 500px;">
                {% for row in result %}
                <div class="form-check pl-0">
                    <input type="checkbox" class="check" name="row" id="{{row[1]}}" value="{{row[0]}}">
                    {{ row[0] }}<br>
                </div>
                {% endfor %}
            </div>
        </div>
    </form>

    <script type="text/javascript">
        setInterval(function () {
            date = new Date(),
                h = date.getHours(),
                m = date.getMinutes(),
                h = (h < 10) ? '0' + h : h,
                m = (m < 10) ? '0' + m : m,
                document.getElementById('timer').value = h + ':' + m;
        }, 60000);
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
</body>

</html>